/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
 
* {
  box-sizing: border-box;
}

article, aside, audio, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { 
  display: block;
}


/* LAYOUT */

.wrapper {
  width: 65em;
  margin: 0 auto;
}

header {
  overflow: hidden;
  border-bottom: 1px solid #cdcdcd;
}

main {
  clear: both;
}

#content {
  float: right;
  width: 70%;
  padding: 1.5em 0 3em 0;
}

aside {
  float: left;
  width: 25%;
  padding-top: 1.5em;
}

nav {
  margin-bottom: 2em;
}

footer {
  clear: both;
  padding: 1.5em 0;
}


/* TYPOGRAPHY */

body {
  font-family: Verdana, Arial, sans-serif;
  color: #444;
  line-height: 1.5;
}

p {
  margin-bottom: 1em;
}

p.blurb {
  font-size: 1.5em;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  text-align: center;
}

header h1 {
  font-size: 3em;
  margin-top: 1em;
  text-transform: uppercase;
}

header, footer {
  text-align: center;
}

nav {
  text-transform: uppercase;
}


/* COLOUR SCHEME & BORDERS */

body {
    color: #444;
}

h1, nav a, footer a, footer {
    color: #999;
}

.selected {
  color: #222;
}

a:hover {
  color: #f00;
}

footer {
  background-color: #333;
}


/* NAVIGATION */

nav ul, footer ul {
  list-style-type: none;
}

nav li {
  padding: 0.5em 2em 0.5em 0;
}

footer li {
  display: inline;
  padding: 0 1em;
}

nav a, footer a {
  text-decoration: none;
}


/* IMAGES */

img {
  width: 100%;
}

img#logo {
  float: left;
  width: auto;
}

